ul {
    list-style-type: none;
    padding: 0;
  
    li {
      background-color: #f7f7f7;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #eaeaea;
      }
  
      button {
        padding: 5px 10px;
        background-color: #5cb85c;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #4cae4c;
        }
      }
    }
  }
  